
  <!-- info section -->

  <section class="info_section  layout_padding2-top">
    <div class="social_container">
      <div class="social_box">
        <a href="">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a href="">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
        <a href="">
          <i class="fa fa-youtube" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <div class="info_container ">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3">
            <h6>
              عن المتجر
            </h6>
            <p>
              .متجر هو متجر لبيع البواريك داخل مصر والوطن العربى ودميع دول العالم تحت مسمى معروف باسم والشركة لديها فروع فى مختلف دول العالم العربى مثل السعودية, مصر والامارات
            </p>
          </div>



          <div class="col-md-6 col-lg-3">
            <h5 class="text-white ">Quick Links</h5>
            <a class="btn btn-link text-white-50" href="" style="margin-left: -71%;">About Us</a>
            <a class="btn btn-link text-white-50" href="" style="margin-left: -65%;">Contact Us</a>
            <a class="btn btn-link text-white-50" href="" style="margin-left: -61%;">Our Services</a>
            <a class="btn btn-link text-white-50" href="" style="margin-left: -58%;">Privacy Policy</a>
            <a class="btn btn-link text-white-50" href="" style="margin-left: -45%;">Terms & Condition</a>
          </div>



          <div class="col-md-6 col-lg-3">
            <h6>
              تحتاج مساعدة؟
            </h6>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doLorem ipsum dolor sit amet, consectetur adipiscing elit, sed doLorem ipsum dolor sit amet,
            </p>
          </div>
          <div class="col-md-6 col-lg-3">
            <h6>
              تواصل معنا
            </h6>
            <div class="info_link-box">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span> Cairo, Egypt </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>+20 1223548005</span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span> Mahmoud.Sayyedahmed900@gmail.com</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- footer section -->
    <footer class=" footer_section">
      <div class="container">
        <p>
          &copy; <span id="displayYear"></span> All Rights Reserved By
          <a href="https://html.design/">Free Html Templates</a>
        </p>
      </div>
    </footer>
    <!-- footer section -->

  </section>
