{% load static %}


    <header class="header_section">
        <nav class="navbar navbar-expand-lg custom_nav-container ">

          



          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""></span>
          </button>
  
          <div class="collapse navbar-collapse" id="navbarSupportedContent" dir="rtl" style="font-size: larger; text-align: center;">


            <ul class="navbar-nav" style="margin-top: 2%; font-size: larger; text-align: center;">


              
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">
                  <i class="fa fa-home"></i>
                  الرئيسية
                  <span class="sr-only">(current)</span></a>
              </li>

              
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'shop' %}">
                  <i class="fa fa-shop"></i>
                  المتجر
                </a>
              </li>
              {% endif %}
                
              
              {% if user.is_authenticated and user.is_staff and user.is_superuser %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'store' %}">
                  <i class="fa fa-store"></i>
                  المخزن
                </a>
              </li>
              {% endif %}


              {% if user.is_authenticated and user.is_staff and user.is_superuser %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'online_order' %}">
                    <i class="fa-solid fa-cart-shopping"></i>
                      طلب اونلاين
                    </a>
                  </li>
                                  
                  <li class="nav-item dropdown" dir="ltr">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                      المدفوعات
                      </a>

                      <div class="dropdown-menu" style="text-align: right;">
                            <a class="dropdown-item" href="{% url 'show_banks' %}">الحسابات البنكية
                              <i class="fa fa-bank"></i>
                            </a>  

                            <a class="dropdown-item" href="{% url 'show_payments' %}">روابط الدفع
                              <i class="fa fa-link"></i>
                            </a>
                      
                      </div>
                  </li>
              {% elif user.is_authenticated%}
              
              {% if is_seller %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'online_order' %}">
                <i class="fa-solid fa-cart-shopping"></i>
                  طلب اونلاين
                </a>
              </li> 
              {% endif %}
                



                  <li class="nav-item dropdown" dir="ltr">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                      المدفوعات
                      </a>

                      <div class="dropdown-menu" style="text-align: right;">
                            <a class="dropdown-item" href="{% url 'show_bank_accounts_to_users' %}">الحسابات البنكية
                              <i class="fa fa-bank"></i>
                            </a>  

                            <a class="dropdown-item" href="{% url 'show_payments' %}">روابط الدفع
                              <i class="fa fa-link"></i>
                            </a>
                      
                      </div>
                  </li>
              {% endif %}
                

              
              {% if user.is_authenticated %}
                
                  <li class="nav-item dropdown" dir="ltr">


                      {% if user.is_authenticated and user.is_superuser and user.is_staff %}
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false"> 
                          {% if done_task_count or ordered_task_count or bills_count_for_admin or refunds_count_for_admin%}
                              {% with result=done_task_count|add:ordered_task_count|add:bills_count_for_admin|add:refunds_count_for_admin %}

                              <span class="badge badge-danger" style="font-size: small; margin-left: -12px; color: white; padding: 5px 10px;">{{result}}</span>

                              {% endwith %}
                          {% endif %}

                          المزيد
                        </a>

                      {% else %}
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false"> 
                          {% if penality_count or reward_count or mybills_count or user_ordered_task_count or my_refunds_count%}
                              {% with result=penality_count|add:reward_count|add:mybills_count|add:user_ordered_task_count|add:my_refunds_count %}
                              <span class="badge badge-danger" style="font-size: small; margin-left: -12px; color: white; padding: 5px 10px;">{{result}}</span>
                              {% endwith %}
                          {% endif %}

                          المزيد
                        </a>
                      {% endif %}
  

                      <div class="dropdown-menu" style="text-align: right;">
                        {% if user.is_authenticated and user.is_superuser and user.is_staff %}

                        {% else %}
                            <a class="dropdown-item" href="{% url 'chart_view' %}">

                              {% if mybills_count > 0 %}
                              <span class="badge badge-danger">{{mybills_count}}</span>
                              {% endif %}
                              فواتيرى
                              <i class="fa fa-money-bill"></i>
                            </a>

                            

                            <a class="dropdown-item" href="{% url 'user_refunds' %}">

                              {% if my_refunds_count > 0 %}
                              <span class="badge badge-danger">{{my_refunds_count}}</span>
                              {% endif %}
                              المُرتجعات
                              <i class="fa fa-undo"></i>
                            </a>
                        {% endif %}

                        {% if user.is_authenticated and user.is_superuser and user.is_staff %}
                            <a class="dropdown-item" href="{% url 'phone_and_account_manage' %}">الارقام والحسابات</a>    
                            
                            
                            
                            <a class="dropdown-item" href="{% url 'all_bills' %}">

                              {% if bills_count_for_admin > 0 %}
                              <span class="badge badge-danger">{{bills_count_for_admin}}</span>
                              {% endif %}
                              كل الفواتير
                              <i class="fa fa-money-bill"></i>
                            </a>


                            <a class="dropdown-item" href="{% url 'show_all_refunds_to_admin' %}">

                              {% if refunds_count_for_admin > 0 %}
                              <span class="badge badge-danger">{{refunds_count_for_admin}}</span>
                              {% endif %}
                              كل المُرتجعات
                              <i class="fa fa-undo"></i>
                            </a>

                            <a class="dropdown-item" href="{% url 'show_all_penalities' %}">الخصومات
                              <i class="fa fa-ban"></i>
                            </a>  

                            <a class="dropdown-item" href="{% url 'show_all_rewards' %}">المكافأت
                            <i class="fa-solid fa-award"></i>
                            </a>
                            
                            
                            <a class="dropdown-item" href="{% url 'show_all_tasks' %}">
                              {% if ordered_task_count > 0 %}
                                 <span class="badge badge-danger">{{ordered_task_count}}</span>
                              {% endif %}
                              المهام المطلوبة
                              <i class="fa fa-tasks"></i>
                            </a>  

                            

                            <a class="dropdown-item" href="{% url 'done_tasks' %}">
                              {% if done_task_count > 0 %}
                                 <span class="badge badge-danger">{{done_task_count}}</span>
                              {% endif %}
                              المهام المُنفذه
                              <i class="fa fa-check"></i>
                            </a>  

                        {% endif %}


                        {% if user.is_authenticated and user.is_superuser and user.is_staff %}
                        

                        {% else %}

                          <a class="dropdown-item" href="{% url 'my_tasks' %}">
                            {% if user_ordered_task_count > 0 %}
                                <span class="badge badge-danger">{{user_ordered_task_count}}</span>
                            {% endif %}
                            مهامى
                            <i class="fa fa-tasks"></i>
                          </a>  
                            <a class="dropdown-item" href="{% url 'my_penalities' %}">
                              {% if penality_count > 0 %}
                                  <span class="badge badge-danger">{{penality_count}}</span>
                              {% endif %}
                              خصوماتى
                              <i class="fa fa-ban"></i>
                            </a>  

                            <a class="dropdown-item" href="{% url 'my_rewards' %}">
                              {% if reward_count > 0 %}
                                  <span class="badge badge-danger">{{reward_count}}</span>
                              {% endif %}
                              مكافأتى
                            <i class="fa-solid fa-award"></i>
                            </a>  
                        {% endif %}

                        <div class="dropdown-divider"></div>

                        <a class="dropdown-item" href="{% url 'user-profile' %}">   
                          صفحتى
                          <i class="fa-solid fa-user"></i>
                        </a>

                        <a class="dropdown-item" href="{% url 'user-logout' %}">تسجيل الخروج
                          <i class="fa fa-sign-out" aria-hidden="true"></i>
                        </a>
                      </div>
                  </li>
              {% endif %}
            </ul>
            
            <div class="user_option" style="margin-top: 2%; font-size: larger; text-align: center;">
              
                
              
              {% if user.is_authenticated and user.is_superuser and user.is_staff %}
              <a href="{% url 'order_summary' %}">
                <i class="fa fa-shopping-bag"></i>
              </a>

              <!-- Notification with order count -->
              {% if cart_count > 0 %}
                <div style="font-size: medium; margin-bottom: 25px; margin-right: 5px;">
                    <span class="badge badge-danger">{{cart_count}}</span>
                </div>
              {% endif %}

              {% elif user.is_authenticated %}

              
              {% if is_seller %}
                  <a href="{% url 'order_summary' %}">
                    <i class="fa fa-shopping-bag"></i>
                  </a>

                  <!-- Notification with order count -->
                  {% if cart_count > 0 %}
                    <div style="font-size: medium; margin-bottom: 25px; margin-right: 5px;">
                        <span class="badge badge-danger">{{cart_count}}</span>
                    </div>
                  {% endif %}
              {% endif %}
                

                

              {% else %}
                  <a href="{% url 'user-login' %}">
                      <i class="fa fa-sign-in" aria-hidden="true"></i>
                      <span>
                        تسجيل الدخول
                      </span>
                  </a>

                  <a href="{% url 'user-register' %}">
                      <i class="fa fa-user" aria-hidden="true"></i>
                      <span>
                        انشاء حساب 
                      </span>
                  </a>
              {% endif %}
            </div>
          </div>
        </nav>
      </header>

<style>
    /* The container <div> - needed to position the dropdown content */
    .dropdown {
      position: relative;
      display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-menu {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      border-radius: 10px;

    }

    /* Links inside the dropdown */
    .dropdown-menu a {
      color: black;
      padding: 5px 15px;
      text-decoration: none;
      display: block;
    }

    /* Change color of dropdown links on hover */
    .dropdown-menu a:hover {background-color: #f1f1f1}

</style>











