
{% extends 'partials/base.html' %}
{% load bootstrap4 %}





  
{% block auth_forms_content_style %}
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
{% endblock auth_forms_content_style %}


{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">
                <div class="border p-3 bg-white">
                    <h1 class="has-text-centered mb-5 is-size-3">تسجيل الدخول</h1>
                    <hr>
                    <form method="POST" action="." dir="rtl">
                        {% csrf_token %}

                        <div style="text-align: center;">
                          <span class="badge badge-danger">{{ form.non_field_errors }}</span>
                        </div>

                        <div class="field">
                          <label for="" class="label" style="text-align: right;">اسم المستخدم</label>
                          <div class="control has-icons-right">
                            {{ form.username }}
                            <div style="text-align: center;">
                              <span class="badge badge-danger">{{ form.username.errors }}</span>
                            </div>
                            <span class="icon is-small is-right">
                              <i class="fa fa-user"></i>
                            </span>
                          </div>
                        </div>
        
                        <div class="field">
                          <label for="" class="label" style="text-align: right;">كلمة المرور</label>
                          <div class="control has-icons-right">
                            {{ form.password }}
                            <div style="text-align: center;">
                              <span class="badge badge-danger">{{ form.password.errors }}</span>
                            </div>
                            <span class="icon is-small is-right">
                              <i class="fa fa-lock"></i>
                            </span>
                          </div>
                        </div>  
        


                        <br>
                        <div class="login_button field" style="font-size: larger;">
                            <input type="submit" value="تسجيل الدخول">
                        </div>

                        <div class="field" style="text-align: center; font-size: large;">
                            <a href="{% url 'password_reset' %}">نسيت كلمة السر؟</a> 
                        </div>
          
                        <div class="field" style="text-align: center; font-size: large;">
                            ليس لديك حساب؟ 
                            <a href="{% url 'user-register' %}">انشاء حساب</a> 
                        </div>

                      </form>

                </div>
            </div>
        </div>
    </div>

{% endblock content %}








    





