{% extends 'partials/base.html' %}
{% block title %}Logout Page{% endblock title %}



{% block content %}
    <!-- <div class="container">
        <div class="row" style="margin-top: 8%; margin-bottom: 10%; margin-left: 10px;">
            <div  style="width: 60%; height: 100%;">
                <div class="border bg-white p-3">
                    <h3 dir="rtl">صفحة تسجيل الخروج</h3>
                    <hr>
                    <div class="alert alert-danger">
                        <h4>لقد قمت بتسجيل الخروج من الموقع</h4>
                    </div>
                    <a href="{% url 'user-login' %}">Login</a>
                </div>
            </div>
        </div>
    </div> -->



    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header text-black" style="background-color: #f9ece6;">
                        <h2 class="text-center">تسجيل الخروج</h2>
                    </div>
                    <div class="card-body text-center">
                        <h4 style="margin-top: 20px;">.لقد قمت بتسجيل الخروج من الموقع</h4>
                        <a href="{% url 'user-login' %}" class="btn btn-primary" style="margin-top: 50px; font-size: large;">تسجيل الدخول</a>
                        <a href="{% url 'user-register' %}" class="btn btn-success" style="margin-top: 10px; font-size: large;">انشاء حساب</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

{% endblock content %}
    




