{% extends 'partials/base.html' %}


{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3" style="margin-top: 40px; margin-bottom: 30px;">
                <div class="border p-3 bg-white" style="text-align: center;">
                    <h1 class="has-text-centered mb-1 is-size-3">استعادة كلمة المرور الخاصة بك</h1>
                    <hr>
                    <br>
                    <div class="alert alert-info" style="text-align: center;">
                        <h4>
                            تم ارسال رسالة بريد الى عنوان بريدك الالكترونى الذى قمت بادخاله,
                            قم بتصفح رسائل البريد الالكترونى الخاص بك واتبع تعليمات الرساله التى قمنا بارسالها لك, شكراً
                        </h4>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock content %}
    