{% extends 'partials/base.html' %}
{% load bootstrap4 %}



{% block auth_forms_content_style %}
  
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">

{% endblock auth_forms_content_style %}




{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">
                <div class="border p-3 bg-white">
                    <!-- <h3>Password Reset Confirm Page</h3> -->
                    <h1 class="has-text-centered mb-5 is-size-3">تعيين كلمة مرور جديدة</h1>

                    <hr>
                    <form method="POST" action="." dir="rtl">
                        {% csrf_token %}
                        

                        {% for error in form.non_field_errors %}
                        <div style="text-align: center;">
                            <span class="badge badge-danger">{{ error }}</span>
                        </div>
                      {% endfor %}
                      
                    

    

        
                        
                        <div class="field">
                          <label for="" class="label" style="text-align: right;">كلمة السر الجديدة</label>
                          <div class="control has-icons-right">
                            {{ form.new_password1 }}
                            <br>
                            {% for error in form.new_password1.errors %}
                            <div style="text-align: center;">
                                <span class="badge badge-danger">{{ error }}</span>
                            </div>
                            {% endfor %}
                            <span class="icon is-small is-right">
                              <i class="fa fa-lock"></i>
                            </span>
                          </div>
                        </div>
        
                        <div class="field">
                          <label for="" class="label" style="text-align: right;">تأكيد كلمة السر الجديدة</label>
                          <div class="control has-icons-right">
                            {{ form.new_password2 }}
                            <br>


                            {% for error in form.new_password2.errors %}
                            <div style="text-align: center;">
                                <span class="badge badge-danger">{{ error }}</span>
                            </div>
                            {% endfor %}

                            <span class="icon is-small is-right">
                              <i class="fa fa-lock"></i>
                            </span>
                          </div>
                        </div>
                
                        <br>

                        <!-- <input class="btn btn-info" type="submit" value="Confirm Password"> -->

                        <div class="new_password_reset field" style="font-size: larger;">
                            <input type="submit" value="تأكيد كلمة السر">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

    