{% extends 'partials/base.html' %}
{% block title %}Password Reset Complete Page{% endblock title %}




{% block auth_forms_content_style %}
  
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">

{% endblock auth_forms_content_style %}


{% block content %}
    <div class="container" style="margin-bottom: 80px;">
        <div class="row mt-5 mb-5">
            <div class="col-md-6 offset-md-3">
                <div class="border bg-white p-3">
                    <h1 class="has-text-centered mb-5 is-size-3">تم تغيير كلمة السر بنجاح</h1>

                    <hr>
                    <div class="alert alert-success has-text-centered mb-5 is-size-4" >
                        <h6>تم تغيير كلمة السر الخاصه بك بنجاح, من فضلك أعد تسجيل الدخول مره اخرى</h6>
                    </div>


                    <div class="field" style="text-align: center; font-size: large;">
                        <a href="{% url 'user-login' %}">تسجيل الدخول</a> 
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock content %}
    