{% extends 'partials/base.html' %}



{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">
                <div class="border bg-white p-3" style="border-radius: 10px;">
                    <h3>Password Reset Complete Page</h3>
                    <hr>
                    <div class="alert alert-success">
                        <h4>تم تغيير كلمة السر الخاصه بك بنجاح, من فضلك اعد تسجيل الدخول مره اخرى</h4>
                    </div>
                    <a href="{% url 'user-login' %}">Login</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
    