{% extends 'partials\base.html' %}
{% load bootstrap4 %}




{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title text-center">تغيير كلمة السر</h3>
            <hr>
            <br>

            <!-- {% if messages %}
              <div class="alert alert-info">
                {{ messages }}
              </div>
            {% endif %} -->

            <form method="post" class="form">
              {% csrf_token %}
              <!-- {{ form.non_field_errors }}
              {{ form.old_password.label_tag }} {{ form.old_password }}
              <small class="form-text text-muted">Enter your current password.</small>

              {{ form.new_password1.label_tag }} {{ form.new_password1 }}
              <small class="form-text text-muted">Choose a new password.</small>

              {{ form.new_password2.label_tag }} {{ form.new_password2 }}
              <small class="form-text text-muted">Enter the same password as before, for verification.</small> -->
              {% bootstrap_form form %}
              <br>

              <button type="submit" class="btn btn-primary btn-block col-md-6 offset-md-3" style="font-size: larger;">تغيير كلمة السر</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
