{% extends 'partials/base.html' %}
{% block title %} Home Page {% endblock title %}
{% load bootstrap4 %}





{% block auth_forms_content_style %}
  
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">

{% endblock auth_forms_content_style %}




{% block content %}



<div class="container" style="margin-top: 60px;">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="border bg-white p-3">
                <h1 class="has-text-centered mb-5 is-size-3" style="text-align: center;">تعديل الملف الشخصى</h1>
                <hr>

                <div class="row" style="display: grid; place-items: center">
                    <div style="margin: auto;">
                        <img class="img-thumbnail" style="border-radius: 50%; height: 250px; width: 250px;" src="{{ user.profile.image.url }}"/>
                    </div>
                </div>


                <form method="POST" action="." dir="rtl" id="upload-form" enctype="multipart/form-data">
                  {% csrf_token %}
                  
                    <div style="text-align: center;">
                        <span class="badge badge-danger">{{ user_form.non_field_errors }}</span>
                    </div>

                    <div class="row" style="display: grid; place-items: center">
                      <div style="margin: auto;">

                            {{profile_form.image}}

                            <label for="image-input">
                              <i class="fas fa-plus"></i>
                              <i class="fa-regular fa-image mt-2" style="font-size: x-large;"></i>
                            </label> 

                      </div>
                    </div>  

                    <div class="field">
                        <label for="" class="label" style="text-align: right;">اسم المستخدم</label>
                        <div class="control has-icons-right">
                        {{ user_form.username }}
                        <br>
                        <div style="text-align: center;">
                            <span class="badge badge-danger">{{ user_form.username.errors }}</span>
                        </div>

                        <span class="icon is-small is-right">
                            <i class="fa fa-user"></i>
                        </span>
                        </div>
                    </div>
  
                  <div class="field">
                    <label for="" class="label" style="text-align: right;">البريد الالكترونى</label>
                    <div class="control has-icons-right">
                      {{ user_form.email }}
                      <br>
                      <div style="text-align: center;">
                        <span class="badge badge-danger">{{ user_form.email.errors }}</span>
                      </div>
                      <span class="icon is-small is-right">
                        <i class="fa fa-envelope"></i>
                      </span>
                    </div>
                  </div>


                    
                  <div class="field">
                    <label for="" class="label" style="text-align: right;">العنوان الشخصى</label>
                    <div class="control has-icons-right">
                      {{ profile_form.address }}
                      <br>
                      <div style="text-align: center;">
                        <span class="badge badge-danger">{{ profile_form.address.errors }}</span>
                      </div>
                      <span class="icon is-small is-right">
                        <i class="fa fa-home"></i>
                      </span>
                    </div>
                  </div>


  
                  <div class="field">
                    <label for="" class="label" style="text-align: right;"> رقم الهاتف الشخصى</label>
                    <div class="control has-icons-right">
                      {{ profile_form.phone }}
                      <br>
                      <div style="text-align: center;">
                        <span class="badge badge-danger">{{ profile_form.phone.errors }}</span>
                      </div>
                      <span class="icon is-small is-right">
                        <i class="fa fa-phone"></i>
                      </span>
                    </div>
                </div>



                  <br>
                  <div class="profile_update_save_changes field" style="font-size: larger;">
                    <input type="submit" value="حفظ التغيرات">
                  </div>
                </form>
            </div>
        </div>
    </div>
</div> 








<Script>
document.addEventListener('DOMContentLoaded', function () {
    // Get the form, input, and plus icon elements
    var uploadForm = document.getElementById('upload-form');
    var imageInput = document.getElementById('image-input');
    // var plusIcon = document.getElementById('plus-icon');

    // Add an event listener to the plus icon
    // plusIcon.addEventListener('click', function () {
    //     // Trigger the click event of the hidden input element
    //     imageInput.click();
    // });

    // Add an event listener to the input element for file selection
    imageInput.addEventListener('change', function () {
        // Submit the form after file selection
        uploadForm.submit();
    });
});
</Script>
{% endblock content %}
    













































    
    


























