{% extends 'partials/base.html' %}
{% block title %} Home Page {% endblock title %}
{% load bootstrap4 %}


{% block content %}
<div class="container">
    <div class="row my-4">
        <div class="col-md-4">
        </div>
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header bg-info text-white">
                    Profile Page
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <span class="h4">ملعلومات الملف الشخصى</span>
                            <hr>
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% bootstrap_form user_form %}
                                {% bootstrap_form profile_form %}


                                <div class="profile_edit_button">
                                    <input class="btn btn-info" type="submit" value="Save Update">
                                </div>

                                <!-- <div class="profile_edit_button">
                                    <a href="">Change Password?</a>
                                </div> -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
    
