{% extends 'partials/base.html' %}
{% block title %}Register Page{% endblock title %}
{% load bootstrap4 %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">
                <div class="border bg-white p-3">
                    <h3 style="text-align: center;">تسجيل الدخول</h3>
                    <hr>
                    
                    <form method="POST">
                        {% csrf_token %}
                        {% bootstrap_form form %}


                        <div class="register_button">
                            <input type="submit" value="تسجيل">
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
    
    