{% extends 'partials/base.html' %}
{% load bootstrap4 %}





  
{% block auth_forms_content_style %}
  
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">




{% endblock auth_forms_content_style %}




{% block content %}
    <div class="container">
      <div class="row mt-5">
          <div class="col-md-6 offset-md-3">
              <div class="border bg-white p-3">
                  <h1 class="has-text-centered mb-5 is-size-3">انشاء حساب</h1>
                  <hr>
                  <form method="POST" action="." dir="rtl">
                    {% csrf_token %}
                    
                    <div style="text-align: center;">
                      <span class="badge badge-danger">{{ form.non_field_errors }}</span>
                    </div>

    
                    <div class="field">
                      <label for="" class="label" style="text-align: right;">اسم المستخدم</label>
                      <div class="control has-icons-right">
                        {{ form.username }}
                        <br>
                        <div style="text-align: center;">
                          <span class="badge badge-danger">{{ form.username.errors }}</span>
                        </div>

                        <span class="icon is-small is-right">
                          <i class="fa fa-user"></i>
                        </span>
                      </div>
                    </div>
    
                    <div class="field">
                      <label for="" class="label" style="text-align: right;">البريد الالكترونى</label>
                      <div class="control has-icons-right">
                        {{ form.email }}
                        <br>
                        <div style="text-align: center;">
                          <span class="badge badge-danger">{{ form.email.errors }}</span>
                        </div>
                        <span class="icon is-small is-right">
                          <i class="fa fa-envelope"></i>
                        </span>
                      </div>
                    </div>
                    
                    <div class="field">
                      <label for="" class="label" style="text-align: right;">كلمة السر</label>
                      <div class="control has-icons-right">
                        {{ form.password1 }}
                        <br>
                        <div style="text-align: center;">
                          <span class="badge badge-danger">{{ form.password1.errors }}</span>
                        </div>
                        <span class="icon is-small is-right">
                          <i class="fa fa-lock"></i>
                        </span>
                      </div>
                    </div>
    
                    <div class="field">
                      <label for="" class="label" style="text-align: right;">تأكيد كلمة السر</label>
                      <div class="control has-icons-right">
                        {{ form.password2 }}
                        <br>
                        <div style="text-align: center;">
                          <span class="badge badge-danger">{{ form.password2.errors }}</span>
                        </div>
                        <span class="icon is-small is-right">
                          <i class="fa fa-lock"></i>
                        </span>
                      </div>
                    </div>


                    <div class="field">
                      <label for="" class="label" style="text-align: right;">نوع العمل</label>
                      <div class="control has-icons-right">
                        {{ form.job_type }}
                        <br>
                        <div style="text-align: center;">
                          <span class="badge badge-danger">{{ form.job_type.errors }}</span>
                        </div>
                      </div>
                    </div>
            
                    <br>
                    <div class="login_button field" style="font-size: larger;">
                      <input type="submit" value="انشاء الحساب">
                    </div>
                    <div class="field" style="text-align: center; font-size: large;">
                      لديك حساب؟
                      <a href="{% url 'user-login' %}">تسجيل الدخول</a> 
                    </div>
    
                  </form>
              </div>
          </div>
      </div>
    </div>
{% endblock content %}
    
    


























