<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Template</title>
    <style>
        /* Add your custom styles here */

        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            text-align: center;
        }

        header {
            background-color: #333;
            color: #fff;
            padding: 10px;
        }

        table {
            width: 60%;
            margin: 20px auto;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

    <header>
        {% if order %}
            <h1 style="text-align: center;">New Bill From Store Which Made By, {{bill_user}}</h1>
        {% else %}
            <h1 style="text-align: center;">New Online Bill Outside The Store Which Made By, {{bill_user}}</h1>
        {% endif %}
            
    </header>

    <div>
        <p>Dear LuxeBeauty Owner,</p>

        
        {% if order %}
            <p>This is a new bill from the LuxeBeauty site which done from store and done by, {{bill_user}}.</p>
            <p>This bill made in {{date|date}} at {{date|time}}</p>
        {% else %}
            <p>This is a new bill from the LuxeBeauty site which done online and done by, {{bill_user}}.</p>
            <p>This bill made in {{date|date}} at {{date|time}}</p>
        {% endif %}
            



        


            


        <table class="table table-bordered" dir='rtl'>
            <thead class="thead-dark" style="text-align: center;">
            <tr style="text-align: center">
                <th scope="col" style="text-align: center">الترتيب</th>
                <th scope="col" style="text-align: center">المنتج</th>
                <th scope="col" style="text-align: center">الكمية</th>
                <th scope="col" style="text-align: center">سعر الواحده</th>
                <th scope="col" style="text-align: center">السعر الكلى</th>
            </tr>
            </thead>
            <tbody style="text-align: center;">
            
            
            {% if order %}
            {% for orderitem in order.items.all %}                    
            <tr style="text-align: center;">
                <th scope="row" class="mt-1" style="text-align: center">{{forloop.counter}}</th>
                <td style="text-align: center">{{orderitem.item.name}} - {{orderitem.item.wig_type}} - طول {{orderitem.item.wig_long}} - فروة {{orderitem.item.scalp_type}} - لون {{orderitem.item.wig_color}} - كثافة {{orderitem.item.density}} </td>
                <td style="text-align: center">{{orderitem.quantity}}</td>
                <td style="text-align: center">{{orderitem.item.price}} ريال</td>
                <td style="text-align: center">{{orderitem.get_final_price}} ريال</td>

            </tr>
            {% endfor %}
            {% else %}
                <tr style="text-align: center;">
                    <th scope="row" class="mt-1" style="text-align: center">1</th>
                    <td style="text-align: center">{{wig_name}} - {{wig_type}} - طول {{wig_long}} - فروة {{scalp_type}} - لون {{wig_color}} - كثافة {{density}} </td>
                    <td style="text-align: center">{{pieces_num}}</td>
                    <td style="text-align: center">{{price}} ريال</td>
                    <td style="text-align: center">{{total_cost}} ريال</td>
                </tr>
            {% endif %}


            </tbody>
        </table>

        <br>
        <h3 style="text-align: center;">تفاصيل الفاتورة</h3>
        <br>

        <table class="table" dir='rtl'>
        <thead class="thead-light" style="text-align: center">
            <tr style="text-align: center">
                <th scope="col" style="text-align: center">اسم البائع</th>
                <th scope="col" style="text-align: center">رقم هاتف البائع</th>
                <th scope="col" style="text-align: center">اسم المُسوق</th>
                <th scope="col" style="text-align: center">اسم حساب المُسوق</th>


                <th scope="col" style="text-align: center">الدولة</th>
                <th scope="col" style="text-align: center">العنوان</th>
                <th scope="col" style="text-align: center">اسم العميل</th>
                <th scope="col" style="text-align: center">رقم هاتف العميل</th>
            </tr>
        </thead>

        
        {% if bill %}            
            <tbody style="text-align: center">
                <tr style="text-align: center">
                    <td style="text-align: center">{{bill.seller}}</td>
                    <td style="text-align: center">{{bill.seller_phone_number}}</td>
                    <td style="text-align: center">{{bill.marketer}}</td>
                    <td style="text-align: center">{{bill.account_name}}</td>


                    <td style="text-align: center">{{bill.country}}</td>
                    <td style="text-align: center">{{bill.address}}</td>
                    <td style="text-align: center">{{bill.customer_name}}</td>
                    <td style="text-align: center">{{bill.customer_phone}}</td>
                </tr>
            </tbody>
        {% else %}
            <tbody style="text-align: center">
                <tr style="text-align: center">
                    <td style="text-align: center">{{seller}}</td>
                    <td style="text-align: center">{{seller_phone_number}}</td>
                    <td style="text-align: center">{{marketer}}</td>
                    <td style="text-align: center">{{account_name}}</td>

                    <td style="text-align: center">{{country}}</td>
                    <td style="text-align: center">{{address}}</td>
                    <td style="text-align: center">{{customer_name}}</td>
                    <td style="text-align: center">{{customer_phone}}</td>
                </tr>
            </tbody>
        {% endif %}

        </table>
    





        <p style="text-align: center;">Thank you for reading!</p>

        <p style="text-align: center;">Best regards,<br>LuxeBeauty Site</p>
    </div>

</body>
</html>

















