{% extends "partials/base.html" %}

{% block content %}
  <main>
    <style>
    </style>
    <div class="container-xxl py-5">
        <div class="container">
            <h2 class="text-center mb-5 mt-5 wow fadeInUp" data-wow-delay="0.1s">برجاء الانتهاء من اجراءات الفاتورة</h2>
            
            <hr class="col-12 col-sm-10" style="margin-left: auto; margin-right: auto">
            <br>
            <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.3s">
                
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane fade show p-0 active">
                        <form method="POST" action="." enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row g-3">
                                
                                <div class="col-12 col-sm-8" style="margin-left: auto; margin-right: auto; margin-bottom: -15px;">
                                    <div class="form-group">{{form.country}}</div>    
                                </div>
    
                                
                                <div class="col-12 col-sm-8" style="margin-left: auto; margin-right: auto">
                                    <div class="form-group">
                                        {{form.address}}
                                    </div>
                                </div>
    
                                <div class="col-12 col-sm-8" style="margin-left: auto; margin-right: auto;">
                                    <div class="form-group">
                                        {{form.customer_phone}}
                                    </div>
                                </div>
    

                                <div class="col-12 col-sm-8" style="margin-left: auto; margin-right: auto;">
                                    <div class="form-group">
                                        {{form.customer_name}}
                                    </div>
                                </div>


    
                                <div class="col-12 col-sm-8" style="margin-left: auto; margin-right: auto;">
                                    <div class="form-group">
                                        {{form.seller_phone_number}}
                                    </div>
                                </div>


                                <div class="btn_bill_finish col-12">
                                    <input type="submit" value="حفظ الفاتورة" style="font-size:large; width: 250px; margin-bottom: 5px;">
                                </div>


                                

                            </div>
                        </form>
                    </div>
                </div>
            </div>

            
            <div class="btn_bill_complete" style="margin: auto; text-align: center; font-size: large;">
                <a href="{% url 'shop' %}">الاستمرار فى البيع</a>
            </div>



        </div>
    </div>



  </main>

{% endblock content %}





























