{% extends 'partials/base.html' %}




{% block content %}




{% if is_seller %}
<h1 class="text-center mb-5 wow fadeInUp mt-5" data-wow-delay="0.1s">احصائياتك هذا الشهر حتى الان</h1>


<div style="width: 50%; margin: 0 auto; margin-bottom: 8%;">
    <canvas id="myChart"></canvas>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        fetch('/chart-data/')
            .then(response => response.json())
            .then(data => {
                const ctx = document.getElementById('myChart').getContext('2d');
                
                new Chart(ctx, {
                    type: data.chart_type,
                    data: {
                        labels: data.labels,
                        datasets: [{
                            label: data.label,
                            data: data.values,
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            });
    });
</script>






<section class="shop_section layout_padding" style="margin-top: -8%;">
    <div class="container" style="max-width: 85%;">
      <div class="row">


        <h2 style="margin: auto; margin-bottom: 20px;">
          تفصيل بيانات الفواتير الخاصة بك خلال هذا الشهر
      </h2>
      <table class="table table-striped" dir='rtl'>
          <thead style="text-align: center;">
            <tr style="text-align: center; font-size: large;">
              <th scope="col">الترتيب</th>
              <th scope="col">اسم البائع</th>
              <th scope="col">رقم الهاتف </th>
              <th scope="col">الدولة</th>
              <th scope="col">العنوان</th>
              <th scope="col">اسم العميل</th>
              <th scope="col">رقم هاتف العميل</th>
              <th scope="col">اسم الحساب</th>
              <th scope="col">  التاريخ</th>
  
              <th scope="col">نوع الباروكه</th>
              <th scope="col">الطول</th>
              <th scope="col">نوع الفروة</th>
              <th scope="col">اللون</th>
              <th scope="col">الكثافة</th>
  
  
              <th scope="col">عدد القطع</th>
              <th scope="col">سعر القطعة</th>
              <th scope="col">السعر الكلى</th>
  
            </tr>
          </thead>
          <tbody style="text-align: center;">
  
            
            {% for bill in page_obj %}
            <tr style="font-size: small;">
              <th scope="row" class="mt-1">{{page_obj.start_index|add:forloop.counter0}}</th>
              <td>{{bill.seller}}</td>
              <td>{{bill.seller_phone_number}}</td>
              <td>{{bill.country}}</td>
              <td>{{bill.address}}</td>
              <td>{{bill.customer_name}}</td>
              <td>{{bill.customer_phone}}</td>
              <td>{{bill.account_name}}</td>
              <td>{{bill.date|date}}</td>
  
  
              <td>{{bill.wig_type}}</td>
              <td>{{bill.wig_long}}</td>
              <td>{{bill.scalp_type}}</td>
              <td>{{bill.wig_color}}</td>
              <td>{{bill.density}}</td>
              <td>{{bill.pieces_num}}</td>
              <td>{{bill.price}}</td>
              <td>{{bill.total_price}}</td>
              
  
  
            </tr>
  
            {% empty %}
            <tr>

              <td colspan='18' style="font-size:medium">ليس لديك أى فواتير الى الان خلال هذا الشهر
                  <img width="25" height="25" src="https://img.icons8.com/external-smashingstocks-flat-smashing-stocks/25/external-Disappointed-smileys-smashingstocks-flat-smashing-stocks-4.png" alt="external-Disappointed-smileys-smashingstocks-flat-smashing-stocks-4"/>
              </td>
            </tr>
            {% endfor %}

            {% if page_obj %}
            <tr>
                <td colspan="16" style="font-size:medium"><b>اجمالى عدد الفواتير خلال الشهر من جميع الارقام الخاصه بك</b></td>
                <td><b>{{total_bills}}</b></td>
            </tr>
            {% endif %} 
  
          </tbody>
      </table>
    </div>
  </div>
</section>


<nav aria-label="Page navigation example" style="margin: auto; margin-top: 10px;">
  <ul class="pagination justify-content-center" style="text-align: center;">


      {% if page_obj.has_previous %}
      <li class="page-item">
        <a style="color:#F67280;" class="page-link" href="?page={{ page_obj.previous_page_number }}">
          &laquo;
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a  class="page-link" href="">
          &laquo;
        </a>
      </li>
    {% endif %}

      {% for i in page_obj.paginator.page_range %}
        {% if i == page_obj.number %}
          <li class="page-item">
            <a style="color:#F67280;" class="page-link" href="#">
              {{ i }}
            </a>
          </li>
        {% elif i > page_obj.number|add:'-2' and i < page_obj.number|add:'2' %}

          <li class="page-item">
            <a style="color:#F67280;" class="page-link" href="?page={{ i }}">
              {{ i }}
            </a>
          </li>
        {% elif i == page_obj.paginator.page_range.1|add:'1' or i == page_obj.paginator.page_range.0 %}
          <span class="dot">...</span>
        {% endif %}
      {% endfor %}



  
      {% if page_obj.has_next %}
        <li class="page-item">
          <a style="color:#F67280;" class="page-link" href="?page={{ page_obj.next_page_number }}">
            &raquo;
          </a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="">
            &raquo;
          </a>
        </li>
      {% endif %}
  </ul>
</nav>



<div class="container" style="max-width: 85%;">
  <div class="row">


    <h2 style="margin: auto; margin-bottom: 20px; margin-top: 60px;">
        اجمالى عدد الفواتير الخاصة بكل رقم
    </h2>

    <table class="table table-striped" dir='rtl'>
        <thead style="text-align: center;">
          <tr style="text-align: center; font-size: large;">
            <th scope="col">الترتيب</th>
            <th scope="col">الرقم</th>
            <th scope="col">اسم المُسوق</th>
            <th scope="col">عدد الفواتير</th>
            <th scope="col">الراتب</th>

          </tr>
        </thead>
      <tbody style="text-align: center;">
            {% for bill_detail in bills_and_phones_detials %}
                <tr style="font-size: large;">
                  <th scope="row" class="mt-1">{{forloop.counter}}</th>
                  <td>{{bill_detail.phone}}</td>
                  <td>{{bill_detail.marketer}}</td>
                  <td>{{bill_detail.total_bills_per_phone}}</td>
                  <td>{{bill_detail.bills_salary}}</td>
                </tr>
            {% empty %}
                <tr>
      
                  <td colspan='18' style="font-size:small">ليس لديك أى فواتير الى الان خلال هذا الشهر
                      <img width="25" height="25" src="https://img.icons8.com/external-smashingstocks-flat-smashing-stocks/25/external-Disappointed-smileys-smashingstocks-flat-smashing-stocks-4.png" alt="external-Disappointed-smileys-smashingstocks-flat-smashing-stocks-4"/>
                  </td>
                </tr>
            {% endfor %}
              

          <tr>
            <td colspan="4"><b>خصوماتك خلال هذا الشهر</b></td>
            <td><b>{{total_penality}} EGP</b></td>
          </tr>

          <tr>
            <td colspan="4"><b>مكافأتك خلال هذا الشهر</b></td>
            <td><b>{{total_reward}} EGP</b></td>
          </tr>

          <tr>
            <td colspan="4"><b>الراتب الاساسى</b></td>
            <td><b>2000 EGP</b></td>
          </tr>
          
          <tr>
            <td colspan="4"><b>مٌستحق الراتب خلال هذا الشهر</b></td>
            <td><b>{{final_salary}} EGP</b></td>
          </tr>
        </tbody>
    </table>
  </div>
</div>




<style>
  .pagination a {
    margin: 0 4px; /* 0 is for top and bottom. Feel free to change it */
  }
</style>


{% else %}


<div class="container" style="max-width: 85%;">
  <div class="row">


    <h2 style="margin: auto; margin-bottom: 20px; margin-top: 60px;">
        اجمالى عدد الفواتير الخاصة بكل رقم
    </h2>
      <table class="table table-striped" dir='rtl'>
        <thead style="text-align: center;">
          <tr style="text-align: center; font-size: large;">
            <th scope="col">الترتيب</th>
            <th scope="col">الرقم</th>
            <th scope="col">اسم البائع</th>
            <th scope="col">عدد الفواتير</th>
            <th scope="col">الراتب</th>

          </tr>
         </thead>
        <tbody style="text-align: center;">
              {% for bill_detail in bills_and_phones_detials %}
                  <tr style="font-size: large;">
                    <th scope="row" class="mt-1">{{forloop.counter}}</th>
                    <td>{{bill_detail.phone}}</td>
                    <td>{{bill_detail.seller}}</td>
                    <td>{{bill_detail.total_bills_per_phone}}</td>
                    <td>{{bill_detail.bills_salary}}</td>
                  </tr>
              {% empty %}
                  <tr>
        
                    <td colspan='18' style="font-size:small">ليس لديك أى فواتير الى الان خلال هذا الشهر
                        <img width="25" height="25" src="https://img.icons8.com/external-smashingstocks-flat-smashing-stocks/25/external-Disappointed-smileys-smashingstocks-flat-smashing-stocks-4.png" alt="external-Disappointed-smileys-smashingstocks-flat-smashing-stocks-4"/>
                    </td>
                  </tr>
              {% endfor %}



          <tr>
            <td colspan="4"><b>خصوماتك خلال هذا الشهر</b></td>
            <td><b>{{total_penality}} EGP</b></td>
          </tr>

          <tr>
            <td colspan="4"><b>مكافأتك خلال هذا الشهر</b></td>
            <td><b>{{total_reward}} EGP</b></td>
          </tr>

          <tr>
            <td colspan="4"><b>الراتب الاساسى</b></td>
            <td><b>2000 EGP</b></td>
          </tr>
          
          <tr>
            <td colspan="4"><b>مٌستحق الراتب خلال هذا الشهر</b></td>
            <td><b>{{final_salary}} EGP</b></td>
          </tr>
        </tbody>
    </table>
  </div>
</div>

<style>
  .pagination a {
    margin: 0 4px; /* 0 is for top and bottom. Feel free to change it */
  }
</style>
    
{% endif %}
{% endblock content %}
    