{% extends 'partials/base.html' %}



{% block content %}




 
<div class="container-xxl py-5">
  <div class="container" style="max-width: 85%;">
      <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.3s">
          
          <div class="tab-content">
              <div id="tab-1" class="tab-pane fade show p-0 active">


                  <form method="POST" action="." enctype="multipart/form-data" dir="rtl">
                      {% csrf_token %}
                      <div class="row g-3">
                          <div class="col-12 col-sm-2">
                              <div class="form-group">
                                  {{form.value}}
                              </div>
                          </div>

                          <div class="btn_payment_linl_search col-12 col-sm-2">
                              <input type="submit" value="بحث">
                          </div>

                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>



  <h2 class="has-text-centered is-size-3" style=" text-align: center; font-weight: bold;">
    روابط الدفع المتاحة
  </h2>

  <section class="shop_section layout_padding" style="margin-top: -4%;">
    <div class="container">

      <div class="row">

        <table class="table table-bordered" dir='rtl' style="text-align: center; font-size: large;">
            <thead>
              <tr>
                <th scope="col">الترتيب</th>
                <th scope="col">الاسم</th>
                <th scope="col">القيمة</th>
                <th scope="col">تاريخ الاضافة</th>
                <th scope="col">دولار أمريكى؟</th>
                <th scope="col">ريال سعودى؟</th>
                <th scope="col">درهم اماراتى؟</th>

                
                {% if user.is_authenticated and user.is_staff and user.is_superuser %}    
                <th scope="col">تعديل؟</th>    
                <th scope="col">حذف؟</th>                

                {% endif %}
                  
              </tr>
            </thead>
            <tbody>




                {% for link_data in links_data.all %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ link_data.link_name }}</td>
                    <td>{{ link_data.amount }}</td>
                    <td>{{ link_data.date|date }}</td>

                    
                    {% if link_data.USD_link %}
                    <td class="payment_link_copy_style">
                      <span 
                      class="copy-info" data-info="{{link_data.USD_link}}" 
                      style="font-size: xx-large;" onclick="copyInfo(this)">&#x1F4CB;
                      </span>
                    </td>
                    {% else %}
                    <td>لا يوجد</td>
                    {% endif %}
                      

                    
                    {% if link_data.SAR_link %}
                    <td>
                      <span 
                      class="copy-info" data-info="{{link_data.SAR_link}}" 
                      style="font-size: xx-large;" onclick="copyInfo(this)">&#x1F4CB;
                      </span>
                    </td>
                    {% else %}
                    <td>لا يوجد</td>
                    {% endif %}
                      
                    
                    {% if link_data.AED_link %}
                    <td class="payment_link_copy_style">
                      <span 
                      class="copy-info" data-info="{{link_data.AED_link}}" 
                      style="font-size: xx-large;" onclick="copyInfo(this)">&#x1F4CB;
                      </span>
                    </td>
                    {% else %}
                    <td>لا يوجد</td>
                    {% endif %}
                      


                    {% if user.is_authenticated and user.is_staff and user.is_superuser %}    
                    <td>
                      <a href="{% url 'edit_payment_link' link_data.slug_link %}" class="trash-icon-style">
                        <i class="fa fa-edit" style="font-size: xx-large;"></i>
                      </a>
                    </td> 

                    <td>
                        <a href="{% url 'delete_payment_link' link_data.slug_link %}" class="trash-icon-style">
                          <i class="fa fa-trash" style="font-size: xx-large;"></i>
                        </a>
                    </td>             
                    {% endif %}


                </tr>
                {% empty %}
                
                {% if user.is_authenticated and user.is_staff and user.is_superuser %}

                <tr>
                  <td colspan='9' style="font-size:larger">ليس لديك اى روابط دفع</td>
                </tr>
                {% else %}
                
                <tr>
                  <td colspan='7' style="font-size:larger">لا يوجد أى روابط دفع مُتاحة</td>
                </tr>
                {% endif %}
                  


                {% endfor %}
            </tbody>
        </table>
      </div>

    





    </div>
  </section>

  {% if user.is_authenticated and user.is_staff and user.is_superuser %}
  <div class="add_more_payments_link_btn" style="margin-top: -30px; margin-bottom: 20px;">
      <a href="{% url 'add_new_payment_link' %}">
      اضافة المزيد من الروابط 
      </a>
  </div> 
  {% endif %}

  <!-- end shop section -->



  
<style>
  .copy-info {
      cursor: pointer; 
      position: relative; 
      display: inline-block;
  }

  .copy-info:hover {
      cursor: pointer;
  }

  
  .copied-message {
      display: none;
  }

  .container {
            max-width: 85%;
            width: 100%;
            padding: 20px;
            box-sizing: border-box;
            table-layout: fixed;
            overflow-x: auto;
        }

        table {
            width: 100%;

            border-radius: 1em;
            overflow: hidden;
            border-collapse: separate;
            border-spacing: 0;
        }
        thead {
        background-color: #D3D3D3;
        }

        th, td {
            padding: 8px;
            text-align: center;
            word-wrap: break-word;

            max-width: 300px; /* Set a max-width to prevent extremely long content from stretching the table */
            overflow: hidden;
            text-overflow: ellipsis;
        }



        @media only screen and (max-width: 600px) {
            .container {
                max-width: 100%;
            }

            th, td {
                max-width: none; /* Remove max-width on smaller screens */
            }
        }

</style>



<script>
  function copyInfo(span) {
      // Get the data-info attribute value (assuming it contains the information you want to copy)
      var infoToCopy = span.getAttribute("data-info");

      // Create a temporary textarea to copy the text
      var tempTextarea = document.createElement("textarea");
      tempTextarea.value = infoToCopy;
      document.body.appendChild(tempTextarea);

      // Select the text in the textarea
      tempTextarea.select();
      tempTextarea.setSelectionRange(0, 66666); // For mobile devices

      // Copy the selected text
      document.execCommand("copy");

      // Remove the temporary textarea
      document.body.removeChild(tempTextarea);

      // Change the icon to indicate copying
      span.innerHTML = "✔";
      

      // Display the "Copied!" message
      var copiedMessage = document.createElement("span");
      copiedMessage.className = "copied-message";
      copiedMessage.textContent = "Copied!";
      span.appendChild(copiedMessage);

      // Reset the icon and message after 3 seconds
      setTimeout(function() {
          span.innerHTML = "&#x1F4CB";
          span.removeChild(copiedMessage);
      }, 2000);
  }
</script>

{% endblock content %}
  
