{% extends 'partials/base.html' %}



{% block content %}

  <!-- shop section -->

  <section class="shop_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
            كل الخصومات التى تم عملها
        </h2>
      </div>
      <div class="row">

        <table class="table table-bordered" dir='rtl' style="text-align: center;">
            <thead>
              <tr>
                <th scope="col">الترتيب</th>
                <th scope="col">الاسم</th>
                <th scope="col"> التفاصيل</th>
                <th scope="col"> عدد أيام الخَصم</th>
                <th scope="col">تاريخ الاضافة</th>

                
                {% if user.is_authenticated and user.is_staff and user.is_superuser %}    
                <th scope="col">حذف؟</th>                
                {% endif %}
                  
              </tr>
            </thead>
            <tbody>
                {% for penality in penalities.all %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ penality.name }}</td>
                    <td>{{penality.message}}</td>
                    <td>{{penality.days_num}}</td>
                    <td style="width: 150px;">{{penality.date}}</td>

                    {% if user.is_authenticated and user.is_staff and user.is_superuser %}    
                    <td style="width: 150px;">
                      <a href="{% url 'delete_penality' penality.slug_link %}">
                        <img width="25" height="25" src="https://img.icons8.com/dusk/25/filled-trash.png" alt="filled-trash"/>
                      </a>
                    </td>             
                    {% endif %}

                </tr>
                {% empty %}
                <tr>
                    <td colspan='6' style="font-size:larger">لا يوجد اى خصومات</td>
                </tr>
                {% endfor %}





            </tbody>
        </table>
      </div>

    
        <div class="penality_btn" style="margin-top: 15px;">
            <a href="{% url 'add_penality' %}">
                عمل نموذج خصم 
            </a>
        </div> 
    

    </div>
  </section>

  <!-- end shop section -->





  <style>
    
    .container {
            max-width: 85%;
            width: 100%;
            padding: 20px;
            box-sizing: border-box;
            table-layout: fixed;
            overflow-x: auto;
        }

        table {
            width: 100%;

            border-radius: 1em;
            overflow: hidden;
            border-collapse: separate;
            border-spacing: 0;
        }

        thead {
        background-color: #D3D3D3;
      }

        th, td {
            padding: 8px;
            text-align: center;
            word-wrap: break-word;
        }


        @media only screen and (max-width: 600px) {
            .container {
                max-width: 100%;
            }
            th, td {
              max-width: none; /* Remove max-width on smaller screens */
          }
        }
  </style>

{% endblock content %}
  
