{% extends 'partials/base.html' %}



{% block content %}

  <!-- shop section -->


  <!-- To show this form if edit_phone variable is True -->
  
  {% if edit_phone %}
      <form method="POST" action="." enctype="multipart/form-data" dir="rtl" style="margin-top: 50px;">
        {% csrf_token %}
        <div class="row g-3" style="row-gap: 13px;">

            <div class="col-12 col-sm-6" style="margin-left: auto; margin-right: auto; text-align: right;">
                <label style="font-size: larger; margin-right: 5px;">تعديل هذا الرقم:</label>

                <div class="form-group">
                    {{form.phone}}
                </div>

                <div class="edit_phone_btn">
                  <input type="submit" value="تعديل هذا الرقم">
                </div>
            </div>
        </div>
      </form>
  {% endif %}




  <section class="shop_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2 class="has-text-centered mb-5 is-size-3" style="text-align: center;">جميع أرقام الهواتف الموجودة داخل النظام</h2>
      </div>
      <div class="row">

        <table class="table table-bordered" dir='rtl'>
            <thead>
              <tr>
                <th scope="col">الترتيب</th>
                <th scope="col">رقم الهاتف</th>
                <th scope="col">تاريخ الاضافة</th>
                <th scope="col">تعديل؟</th>
                <th scope="col">حذف؟</th>                
                  
              </tr>
            </thead>
            <tbody>
                {% for phone in phones.all %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ phone.phone }}</td>
                    <td>
                      <p>{{phone.date}}</p>
                    </td>

  
                    
                    <td>
                      <a  href="{% url 'edit_phone' phone.slug_link %}" class="edit_item_style">  
                        <i class="fa fa-edit" style="font-size: xx-large;"></i>
                      </a>
                    </td>

                    <td>
                      <a href="{% url 'delete_phone' phone.slug_link %}" class="trash-icon-style">
                        <i class="fa fa-trash" style="font-size: xx-large;"></i>
                      </a>
                    </td>

                </tr>
                {% empty %}
                <tr>
                    <td colspan='5' style="font-size:large">لا يوجد اى أرقام</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>


  <!-- To show this form if add_phone variable is True -->
  {% if add_phone %}    
      <form method="POST" action="." enctype="multipart/form-data" dir="rtl" style="margin-top: 50px;">
        {% csrf_token %}
        <div class="row g-3" style="row-gap: 13px;">

            <div class="col-12 col-sm-6" style="margin-left: auto; margin-right: auto; text-align: right;">
                <label style="font-size: larger; margin-right: 5px;">اضافة رقم جديد:</label>

                <div class="form-group">
                    {{form.phone}}
                </div>

                
                <div class="add_new_phone_btn">
                  <input type="submit" value="اضافة الرقم">
                </div>

            </div>
        </div>
      </form>
  {% endif %}





    </div>
  </section>

  <style>
      .container {
            max-width: 85%;
            width: 100%;
            padding: 20px;
            box-sizing: border-box;
            table-layout: fixed;
            overflow-x: auto;
        }

        table {
            width: 100%;

            border-radius: 1em;
            overflow: hidden;
            border-collapse: separate;
            border-spacing: 0;
        }

        thead {
          background-color: #D3D3D3;
        }
        th, td {
            padding: 8px;
            text-align: center;
            word-wrap: break-word;

            max-width: 300px; /* Set a max-width to prevent extremely long content from stretching the table */
            overflow: hidden;
            text-overflow: ellipsis;
        }



        @media only screen and (max-width: 600px) {
            .container {
                max-width: 100%;
            }

            th, td {
                max-width: none; /* Remove max-width on smaller screens */
            }
        }

  </style>


{% endblock content %}
  
