{% extends 'partials/base.html' %}



{% block content %}
  <section class="shop_section layout_padding">
    <div class="container" style="max-width: 85%;">
      <div class="heading_container heading_center">
        <h2 class="has-text-centered is-size-3" style="text-align: center;">الحسابات البنكية المتاحة</h2>
      </div>
      <div class="row">

        <table class="table table-striped" dir='rtl' style="text-align: center; font-size: large;">
            <thead>
              <tr>
                <th scope="col">الترتيب</th>
                <th scope="col">اسم البنك</th>
                <th scope="col">الدولة</th>
                <th scope="col">نسخ بيانات الحساب؟</th>
                <th scope="col">تاريخ الاضافة</th>
              </tr>
            </thead>
            <tbody>
                {% for bank in banks.all %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ bank.bank_name }}</td>
                    <td>{{ bank.country }}</td>
                    <td>
                        <span 
                            class="copy-info" data-info="IBAN: {{bank.IBAN}} -- Swift Code: {{bank.swift_code}} -- Beneficiary Name: {{bank.beneficiary_name}} -- Account Number: {{bank.account_number}}" 
                            style="font-size: xx-large;" onclick="copyInfo(this)">&#x1F4CB;
                        </span>
                    </td>
                    <td>{{ bank.date|date }}</td>
                </tr>

                {% for item in your_model_data %}
                <tr>

                </tr>
                {% endfor %}


                {% empty %}
                <tr>
                    <td colspan='8' style="font-size:large">لا يوجد أى روابط دفع</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
  </section>



<style>
    .copy-info {
        cursor: pointer; 
        position: relative; 
        display: inline-block;
    }

    .copy-info:hover {
        cursor: pointer;
    }

    
    .copied-message {
        display: none;
    }
</style>

  

<script>
    function copyInfo(span) {
        // Get the data-info attribute value (assuming it contains the information you want to copy)
        var infoToCopy = span.getAttribute("data-info");

        // Create a temporary textarea to copy the text
        var tempTextarea = document.createElement("textarea");
        tempTextarea.value = infoToCopy;
        document.body.appendChild(tempTextarea);

        // Select the text in the textarea
        tempTextarea.select();
        tempTextarea.setSelectionRange(0, 66666); // For mobile devices

        // Copy the selected text
        document.execCommand("copy");

        // Remove the temporary textarea
        document.body.removeChild(tempTextarea);

        // Change the icon to indicate copying
        span.innerHTML = "✔";
        

        // Display the "Copied!" message
        var copiedMessage = document.createElement("span");
        copiedMessage.className = "copied-message";
        copiedMessage.textContent = "Copied!";
        span.appendChild(copiedMessage);

        // Reset the icon and message after 3 seconds
        setTimeout(function() {
            span.innerHTML = "&#x1F4CB";
            span.removeChild(copiedMessage);
        }, 2000);
    }
</script>
{% endblock content %}
  
