{% extends 'partials/base.html' %}
{% load static %}






{% block content %}
  

 






<div class="container-xxl py-5">
  <div class="container">
      <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.3s">
          
          <div class="tab-content">
              <div id="tab-1" class="tab-pane fade show p-0 active">


                <form method="POST" action="." enctype="multipart/form-data" dir="rtl">
                  {% csrf_token %}
                  <div class="row g-3">
                      <div class="col-12 col-sm-2">
                          <div class="form-group">
                              {{form.today_day}}
                          </div>
                      </div>

                      <div class="btn_bill_search col-12 col-sm-2" style="font-size: large;">
                          <input type="submit" value="بحث">
                      </div>

                  </div>
                </form>

              </div>
          </div>
      </div>
  </div>
</div>







<section class="shop_section layout_padding" style="margin-top: -6%;">
  <div class="container">


    <div class="heading_container heading_center">
      <h2 class="has-text-centered is-size-3" style="text-align: center;">جميع الفواتير خلال هذا الشهر </h2>
    </div>
    <div class="row">


      <table class="table table-bordered" dir='rtl'>
        <thead style="text-align: center;">
          <tr style="text-align: center; font-size: large;">
            <th scope="col">الترتيب</th>
            <th scope="col">اسم البائع</th>
            <th scope="col">رقم الهاتف </th>
            <th scope="col">الدولة</th>
            <th scope="col">العنوان</th>
            <th scope="col">اسم العميل</th>
            <th scope="col">رقم هاتف العميل</th>
            <th scope="col">اسم الحساب</th>

            <th scope="col">طريقة الدفع</th>


            <th scope="col">  التاريخ</th>

            <th scope="col">نوع الباروكه</th>
            <th scope="col">الطول</th>
            <th scope="col">نوع الفروة</th>
            <th scope="col">اللون</th>
            <th scope="col">الكثافة</th>


            <th scope="col">عدد القطع</th>
            <th scope="col">سعر القطعة</th>
            <th scope="col">السعر الكلى</th>

          </tr>
        </thead>
        <tbody style="text-align: center;">

          
          
            
          {% if data %}
              {% for bill in data %}
              <tr style="font-size: medium;">
                <th scope="row" class="mt-1">{{forloop.counter}}</th>
                <td>{{bill.seller}}</td>
                <td>{{bill.seller_phone_number}}</td>
                <td>{{bill.country}}</td>
                <td>{{bill.address}}</td>
                <td>{{bill.customer_name}}</td>
                <td>{{bill.customer_phone}}</td>
                <td>{{bill.account_name}}</td>
                <td>{{bill.payment_method}}</td>

                <td>{{bill.date|date}}</td>


                <td>{{bill.wig_type}}</td>
                <td>{{bill.wig_long}}</td>
                <td>{{bill.scalp_type}}</td>
                <td>{{bill.wig_color}}</td>
                <td>{{bill.density}}</td>
                <td>{{bill.pieces_num}}</td>
                <td>{{bill.price}}</td>
                <td>{{bill.total_price}}</td>
              </tr>
              
              {% empty %}
              <tr>
                <td colspan='18' style="font-size:larger">لا يوجد فواتير</td>
              </tr>
              {% endfor %}
          {% elif page_obj %}
              {% for bill in page_obj %}
              <tr style="font-size: small;">
                <th scope="row" class="mt-1">{{page_obj.start_index|add:forloop.counter0}}</th>
                <td>{{bill.seller}}</td>
                <td>{{bill.seller_phone_number}}</td>
                <td>{{bill.country}}</td>
                <td>{{bill.address}}</td>
                <td>{{bill.customer_name}}</td>
                <td>{{bill.customer_phone}}</td>
                <td>{{bill.account_name}}</td>
                <td>{{bill.payment_method}}</td>

                <td>{{bill.date|date}}</td>


                <td>{{bill.wig_type}}</td>
                <td>{{bill.wig_long}}</td>
                <td>{{bill.scalp_type}}</td>
                <td>{{bill.wig_color}}</td>
                <td>{{bill.density}}</td>
                <td>{{bill.pieces_num}}</td>
                <td>{{bill.price}}</td>
                <td>{{bill.total_price}}</td>
              </tr>
              {% empty %}
              <tr>
                <td colspan='17' style="font-size:larger">لا يوجد فواتير</td>
              </tr>
              {% endfor %}
          {% else %}
          <tr>
            <td colspan='17' style="font-size:larger">لا يوجد فواتير</td>
          </tr>
          {% endif %}



        </tbody>
    </table>


        </div>
      </div>

    </div>
  </div>
</section>



















{% if page_obj %}
<nav aria-label="Page navigation example" style="margin: auto; margin-top: -50px;">
  <ul class="pagination justify-content-center" style="text-align: center;">


      {% if page_obj.has_previous %}
      <li class="page-item">
        <a style="color:#F67280;" class="page-link" href="?page={{ page_obj.previous_page_number }}">
          &laquo;
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a  class="page-link" href="">
          &laquo;
        </a>
      </li>
    {% endif %}


      {% for i in page_obj.paginator.page_range %}
      {% if i == page_obj.number %}
        <li class="page-item">
          <a style="color:#F67280;" class="page-link" href="#">
            {{ i }}
          </a>
        </li>
      {% elif i > page_obj.number|add:'-2' and i < page_obj.number|add:'2' %}

        <li class="page-item">
          <a style="color:#F67280;" class="page-link" href="?page={{ i }}">
            {{ i }}
          </a>
        </li>
      {% elif i == page_obj.paginator.page_range.1|add:'1' or i == page_obj.paginator.page_range.0 %}
        <span class="dot">...</span>
      {% endif %}
      {% endfor %}



  
      {% if page_obj.has_next %}
      <li class="page-item">
        <a style="color:#F67280;" class="page-link" href="?page={{ page_obj.next_page_number }}">
          &raquo;
        </a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="">
          &raquo;
        </a>
      </li>
      {% endif %}


  </ul>
</nav>
{% endif %}







<section class="shop_section layout_padding mt-3" style="margin-top: -4%;">
  <div class="container">


    <div class="heading_container heading_center">
      <h2 class="has-text-centered is-size-3" style="text-align: center;">عدد الفواتير الخاصة بكل حساب هذا الشهر</h2>
    </div>
    <div class="row">


      <table class="table table-bordered" dir='rtl'>
        <thead style="text-align: center;">
          <tr style="text-align: center; font-size: large;">
            <th scope="col">الترتيب</th>
            <th scope="col">اسم الحساب</th>
            <th scope="col">اسم البائع</th>
            <th scope="col">اسم المُسوق</th>
            <th scope="col">رقم الهاتف</th>
            <th scope="col">عدد الفواتير</th>
          </tr>
        </thead>
        <tbody style="text-align: center;">
            
            {% for bill in bills_per_account %}
            <tr style="font-size: medium;">
              <th scope="row" class="mt-1">{{forloop.counter}}</th>
              <td>{{bill.account_name}}</td>
              <td>{{bill.seller}}</td>
              <td>{{bill.marketer}}</td>
              <td>{{bill.phonenumber}}</td>

              {% if bill.bills_count %}
              <td>{{bill.bills_count}}</td>
              {% else %}
              <td>لا يوجد</td>
              {% endif %}
            </tr>
            
            {% empty %}
            <tr>
              <td colspan='12' style="font-size:large">لا يوجد فواتير</td>
            </tr>
            {% endfor %}
            <tr>
              <td colspan="5"><b>اجمالى عدد الفواتير خلال هذا الشهر</b></td>
              {% if bills_num_this_month %}
              <td><b>{{bills_num_this_month}}</b></td>
                
              {% else %}
              <td><b>0</b></td>

              {% endif %}
            </tr>


        </tbody>
    </table>


        </div>
      </div>

    </div>
  </div>

  <!-- <h2 style="text-align: center;">{{bills_num_this_month}} : اجمالى عدد الفواتير خلال هذا الشهر</h2> -->


</section>




<style>
    .pagination a {
      margin: 0 4px; /* 0 is for top and bottom. Feel free to change it */
    }

    .container {
            max-width: 95%;
            width: 100%;
            padding: 20px;
            box-sizing: border-box;
            table-layout: fixed;
            overflow-x: auto;
        }


        table {
            width: 100%;
            border-radius: 1em;
            overflow: hidden;
            border-collapse: separate;
            border-spacing: 0;
        }

        

        thead {
        background-color: #D3D3D3;
        }

        th, td {
            padding: 8px;
            text-align: center;
            word-wrap: break-word;

            max-width: 300px; /* Set a max-width to prevent extremely long content from stretching the table */
            overflow: hidden;
            text-overflow: ellipsis;
        }


        @media only screen and (max-width: 600px) {
            .container {
                max-width: 100%;
            }

            th, td {
                max-width: none; /* Remove max-width on smaller screens */
            }
        }
    </style>

{% endblock content %}
  