{% extends 'partials/base.html' %}




{% block content %}




{% if is_seller %}


<section class="shop_section layout_padding">
    <div class="container">
      <div class="row">


        <h2 style="margin: auto; margin-bottom: 20px;">
            تفصيل بيانات المسترجعات الخاصة بك خلال هذا الشهر
        </h2>
        <table class="table table-bordered" dir='rtl'>
            <thead style="text-align: center;">
              <tr style="text-align: center; font-size: large;">
                <th scope="col">الترتيب</th>
                <!-- <th scope="col">اسم البائع</th> -->
                <th scope="col">هاتف البائع</th>
                <th scope="col">الدولة</th>
                <th scope="col">العنوان</th>
                <th scope="col">اسم العميل</th>
                <th scope="col">هاتف العميل</th>
                <th scope="col">اسم الحساب</th>
                <th scope="col">  التاريخ</th>
    
                <th scope="col">نوع الباروكه</th>
                <th scope="col">الطول</th>
                <th scope="col">نوع الفروة</th>
                <th scope="col">اللون</th>
                <th scope="col">الكثافة</th>
    
    
                <th scope="col">عدد القطع</th>
                <th scope="col">سعر القطعة</th>
                <th scope="col">السعر الكلى</th>
              </tr>
            </thead>
            <tbody style="text-align: center;">
              
              {% for item in data %}
              <tr style="font-size: small;">
                <th scope="row" class="mt-1">{{forloop.counter}}</th>
                <!-- <td>{{bill.seller}}</td> -->
                <td>{{item.seller_phone_number}}</td>
                <td>{{item.country}}</td>
                <td>{{item.address}}</td>
                <td>{{item.customer_name}}</td>
                <td>{{item.customer_phone}}</td>
                <td>{{item.account_name}}</td>
                <td>{{item.date|date}}</td>
    
    
                <td>{{item.wig_type}}</td>
                <td>{{item.wig_long}}</td>
                <td>{{item.scalp_type}}</td>
                <td>{{item.wig_color}}</td>
                <td>{{item.density}}</td>
                <td>{{item.pieces_num}}</td>
                <td>{{item.price}}</td>
                <td>{{item.total_price}}</td>
  
                
              </tr>
    
              {% empty %}
              <tr>
                <td colspan='18' style="font-size:medium">
                  لا يوجد لديك أى مسترجعات
                </td>
              </tr>
              {% endfor %}
  

    
            </tbody>
        </table>
    </div>
  </div>
</section>






<div class="container">
  <div class="row">


    <h2 style="margin: auto; margin-bottom: 20px; margin-top: 60px;">
        اجمالى عدد المسترجعات الخاصة بكل رقم
    </h2>

    <table class="table table-bordered" dir='rtl'>
        <thead style="text-align: center;">
          <tr style="text-align: center; font-size: large;">
            <th scope="col">الترتيب</th>
            <th scope="col">الرقم</th>
            <th scope="col">اسم المُسوق</th>
            <th scope="col">عدد المسترجعات</th>

          </tr>
        </thead>
      <tbody style="text-align: center;">
            {% for refund_detail in refunds_details %}
                <tr style="font-size: large;">
                  <th scope="row" class="mt-1">{{forloop.counter}}</th>
                  <td>{{refund_detail.phone}}</td>
                  <td>{{refund_detail.marketer}}</td>
                  <td>{{refund_detail.all_refunds_this_month}}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan='8' style="font-size:medium">
                            لا يوجد لديك أى مسترجعات
                    </td>
                </tr>
            {% endfor %}
              

        <tr>
            <td colspan="3" style="font-size:medium"><b>اجمالى عدد المُسرجعات الخاصة بك خلال هذا الشهر</b></td>
            <td><b>{{all_refunds}}</b></td>
        </tr> 
        </tbody>
    </table>
  </div>
</div>


{% else %}

<div class="container">
    <div class="row">
  
  
      <h2 style="margin: auto; margin-bottom: 20px; margin-top: 60px;">
          اجمالى عدد الفواتير الخاصة بكل رقم
      </h2>
        <table class="table table-bordered" dir='rtl'>
          <thead style="text-align: center;">
            <tr style="text-align: center; font-size: large;">
              <th scope="col">الترتيب</th>
              <th scope="col">الرقم</th>
              <th scope="col">اسم البائع</th>
              <th scope="col">عدد المُسترجعات</th>
  
            </tr>
           </thead>
          <tbody style="text-align: center;">
                {% for refund_detail in refunds_details %}
                    <tr style="font-size: large;">
                      <th scope="row" class="mt-1">{{forloop.counter}}</th>
                      <td>{{refund_detail.phone}}</td>
                      <td>{{refund_detail.seller}}</td>
                      <td>{{refund_detail.all_refunds_this_month}}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan='18' style="font-size:medium">
                                لا يوجد لديك أى مسترجعات
                        </td>
                    </tr>
                {% endfor %}
  
  
  
            <tr>
              <td colspan="3"><b>اجمالى المسترجعات</b></td>
              <td><b>{{all_refunds}}</b></td>
            </tr>
  
          </tbody>
      </table>
    </div>
  </div>
  

{% endif %}
    



<style>

  
.container {
            max-width: 95%;
            width: 100%;
            padding: 20px;
            box-sizing: border-box;
            table-layout: fixed;
        }

        table {
            width: 100%;
            table-layout: fixed;
        }

        th, td {
            padding: 8px;
            text-align: center;
            word-wrap: break-word;
        }


        @media only screen and (max-width: 600px) {
            .container {
                max-width: 100%;
            }
        }

</style>



{% endblock content %}
    