{% extends 'partials/base.html' %}



{% block content %}

  <!-- shop section -->



  
<div class="container-xxl py-5">
  <div class="container">
      <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.3s">
          
          <div class="tab-content">
              <div id="tab-1" class="tab-pane fade show p-0 active">


                  <form method="POST" action="." enctype="multipart/form-data" dir="rtl">
                      {% csrf_token %}
                      <div class="row g-3">
                          <div class="col-12 col-sm-2">
                              <div class="form-group">
                                  {{form.wig_type}}
                              </div>
                          </div>

                          <div class="col-12 col-sm-2">
                              <div class="form-group">
                                  {{form.wig_long}} 
                              </div>
                          </div>


                          <div class="col-12 col-sm-2">
                              <div class="form-group">
                                  {{form.scalp_type}}
                              </div>
                          </div>


                          <div class="col-12 col-sm-2">
                              <div class="form-group">
                                  {{form.wig_color}}
                              </div>
                          </div>

                          <div class="col-12 col-sm-2">
                              <div class="form-group">
                                  {{form.density}}
                              </div>
                          </div>



                          <div class="btn_store_search col-12 col-sm-2">
                              <input type="submit" value="بحث">
                          </div>

                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>






  <section class="shop_section layout_padding" style="margin-top: -5%;">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          المنتجات المتاحة بالمخزن
        </h2>
      </div>
      <div class="row">

        <table class="table table-striped" dir='rtl'>
            <thead style="text-align: center;">
              <tr>
                <th scope="col">الترتيب</th>
                <th scope="col">اسم الصنف</th>
                <th scope="col">نوع الباروكه</th>
                <th scope="col">الطول</th>
                <th scope="col">نوع الفروة</th>
                <th scope="col">اللون</th>
                <th scope="col">الكثافة</th>
                <th scope="col">صورة المنتج</th>
                <th scope="col">السعر</th>
                <th scope="col">العدد المُتاح</th>
                <th scope="col">تاريخ الاضافة</th>
                <th scope="col">كود المنتج</th>
                <th scope="col">تعديل؟</th>
                <th scope="col">حذف؟</th>                
              </tr>
            </thead>
            <tbody style="text-align: center;">
            {% for item in page_obj %}

              <tr>
                <th scope="row">{{page_obj.start_index|add:forloop.counter0}}</th>
                <td>{{item.name}}</td>
                <td>{{item.wig_type}}</td>
                <td>{{item.wig_long}}</td>
                <td>{{item.scalp_type}}</td>
                <td>{{item.wig_color}}</td>
                <td>{{item.density}}</td>


                <td>
                  
                  {% if item.quantity %}
                  <div class="dropdown">
                    <a href="{% url 'item_detail' item.slug %}">
                      <img src="{{item.image.url}}" alt="Cinque Terre" width="100" height="50">
                    </a>
                    <div class="dropdown-content">
                        <a href="{% url 'item_detail' item.slug %}">
                          <img src="{{item.image.url}}" alt="Cinque Terre" width="300" height="200">
                        </a>
                        <div class="desc">
                          <p>{{item.name}} - {{item.wig_type}} - طول {{item.wig_long}} - فروة {{item.scalp_type}} - لون {{item.wig_color}} - كثافة {{item.density}} </p>
                        </div>
                    </div>
                  </div>
                  {% else %}
                  <div class="dropdown">
                    <a href="{% url 'item_detail' item.slug %}">
                      <img src="{{item.image.url}}" style="filter: grayscale(100%);" alt="Cinque Terre" width="100" height="50">
                    </a>
                    <div class="dropdown-content">
                        <a href="{% url 'item_detail' item.slug %}">
                          <img src="{{item.image.url}}" style="filter: grayscale(100%);" alt="Cinque Terre" width="300" height="200">
                        </a>
                        <div class="desc">
                          <p style="font-weight: bold;">منتج خارج المخزن</p>
                          
                          <p>{{item.name}} - {{item.wig_type}} - طول {{item.wig_long}} - فروة {{item.scalp_type}} - لون {{item.wig_color}} - كثافة {{item.density}} </p>
                        </div>
                    </div>
                  </div>
                  {% endif %}

                </td>


                <td>{{item.price}}  SAR</td>
                <td>{{item.quantity}}</td>
                <td>{{item.date|date}}</td>
                <td>{{item.slug}}</td>
                <td>
                      <a href="{% url 'edit_item_in_store' item.slug %}" class="edit_item_style">  
                        <i class="fa fa-edit" style="font-size: xx-large;"></i>
                      </a>
                </td>
                <td>
                    <a href="{% url 'delete_from_store' item.slug %}" class="trash-icon-style">
                      <i class="fa fa-trash" style="font-size: xx-large;"></i>
                    </a>
              </td>
              </tr>
              {% empty %}
              <tr>
                  <td colspan='15' style="font-size:large; text-align: center;">ليس لديك اى منتجات</td>
              </tr>
              <tr>
                  <td colspan="15">

                      <div class="add_products_to_store_btn">
                          <a href="{% url 'add_item' %}">
                               اضافة منتجات 
                          </a>
                      </div>

                  </td>
              </tr>
            {% endfor %}
            </tbody>
        </table>

              
        <nav aria-label="Page navigation example" style="margin: auto; margin-top: 10px;">
          <ul class="pagination justify-content-center" style="text-align: center;">
    
    
              {% if page_obj.has_previous %}
              <li class="page-item">
                <a style="color:#F67280;" class="page-link" href="?page={{ page_obj.previous_page_number }}">
                  &laquo;
                </a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <a  class="page-link" href="">
                  &laquo;
                </a>
              </li>
            {% endif %}
    
    
              <!-- <li class="page-item">
                <a style="color:#F67280;" class="page-link" href="#">
                  {{page_obj.number}}:{{page_obj.paginator.num_pages}}
                </a>
              </li> -->

              {% for i in page_obj.paginator.page_range %}
              {% if i == page_obj.number %}
                <!-- <span class="current">{{ i }}</span> -->
                <li class="page-item">
                  <a style="color:#F67280;" class="page-link" href="#">
                    {{ i }}
                  </a>
                </li>
              {% elif i > page_obj.number|add:'-2' and i < page_obj.number|add:'2' %}
                <!-- <a href="?page={{ i }}">{{ i }}</a> -->
        
                <li class="page-item">
                  <a style="color:#F67280;" class="page-link" href="?page={{ i }}">
                    {{ i }}
                  </a>
                </li>
              {% elif i == page_obj.paginator.page_range.1|add:'1' or i == page_obj.paginator.page_range.0 %}
                <span class="dot">...</span>
              {% endif %}
              {% endfor %}
    
    
    
          
              {% if page_obj.has_next %}
              <li class="page-item">
                <a style="color:#F67280;" class="page-link" href="?page={{ page_obj.next_page_number }}">
                  &raquo;
                </a>
              </li>
              {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="">
                  &raquo;
                </a>
              </li>
              {% endif %}
    
    
          </ul>
      </nav>




      </div>

      {% if page_obj %}
          <div class="add_products_to_store_btn">
              <a href="{% url 'add_item' %}">
              اضافة المزيد من المنتجات 
              </a>
          </div> 
     {% endif %}

    </div>

  </section>

  <!-- end shop section -->




<style>
    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown:hover .dropdown-content {
      display: block;
    }

    .desc {
      padding: 15px;
      text-align: center;
    }

    .pagination a {
      margin: 0 4px; /* 0 is for top and bottom. Feel free to change it */
    }





    .container {
            max-width: 95%;
            width: 100%;
            padding: 20px;
            box-sizing: border-box;
            table-layout: fixed;
        }

        table {
            width: 100%;
            table-layout: auto;

        }



        @media only screen and (max-width: 600px) {
            .container {
                max-width: 100%;
            }

            th, td {
                max-width: none; /* Remove max-width on smaller screens */
            }
        }
</style>
{% endblock content %}
  

