{% extends 'partials/base.html' %}



{% block content %}
  <!-- shop section -->
  <section class="shop_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
            كل المكافأت لديك
        </h2>
      </div>
      <div class="row">

        <table class="table table-bordered" dir='rtl' style="text-align: center;">
            <thead style="text-align: center;">
              <tr>
                <th scope="col">الترتيب</th>
                <th scope="col"> التفاصيل</th>
                <th scope="col">قيمة المكافأة</th>
                <th scope="col">تاريخ الاضافة</th>
              </tr>
            </thead>
            <tbody style="text-align: center;">
                {% for reward in my_rewards.all %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{reward.message}}</td>
                    <td>{{reward.price}} جنية</td>
                    <td style="width: 150px;">{{reward.date}}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan='4' style="font-size:large">لا يوجد لديك أى مكافأت</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
  </section>
  <!-- end shop section -->


  <style>
    .container {
            max-width: 85%;
            width: 100%;
            padding: 20px;
            box-sizing: border-box;
            table-layout: fixed;
            overflow-x: auto;
        }

        table {
            width: 100%;

            border-radius: 1em;
            overflow: hidden;
            border-collapse: separate;
            border-spacing: 0;
        }
        thead {
        background-color: #D3D3D3;
        }
        
        th, td {
            padding: 8px;
            text-align: center;
            word-wrap: break-word;
        }


        @media only screen and (max-width: 600px) {
            .container {
                max-width: 100%;
            }

            th, td {
                max-width: none; /* Remove max-width on smaller screens */
            }
        }
  </style>
{% endblock content %}
  
