{% extends 'partials/base.html' %}



{% block content %}
  <!-- shop section -->
  <section class="shop_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
            كل المهام لديك
        </h2>
      </div>
      <div class="row">

        <table class="table table-bordered" dir='rtl' style="text-align: center;">
            <thead>
              <tr>
                <th scope="col">الترتيب</th>
                <th scope="col"> تفاصيل الطلب</th>
                <th scope="col">تاريخ الطلب</th>
                <th scope="col">تم التنفيذ؟</th>

              </tr>
            </thead>
            <tbody>
                {% for task in my_tasks.all %}
                <tr>
                    <th style="width: 150px;" scope="row">{{ forloop.counter }}</th>
                    <td>{{task.message}}</td>
                    <td>{{task.ordered_date}}</td>
                    <td>

            


                      <a href="{% url 'user_done_task' task.slug_link %}" class="done_task_link">
                        <i class="fa fa-check" style="font-size: xx-large;"></i>
                      </a>

                      
                    </td>

                </tr>
                {% empty %}
                <tr>
                    <td colspan='4' style="font-size:large">لا يوجد لديك أى مهام</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
  </section>
  <!-- end shop section -->


  
  <style>
    .container {
            max-width: 85%;
            width: 100%;
            padding: 20px;
            box-sizing: border-box;
            table-layout: fixed;
            overflow-x: auto;
        }

        table {
            width: 100%;

            border-radius: 1em;
            overflow: hidden;
            border-collapse: separate;
            border-spacing: 0;
        }
        thead {
        background-color: #D3D3D3;
        }
        
        th, td {
            padding: 8px;
            text-align: center;
            word-wrap: break-word;
        }


        @media only screen and (max-width: 600px) {
            .container {
                max-width: 100%;
            }

            th, td {
                max-width: none; /* Remove max-width on smaller screens */
            }
        }
  </style>
{% endblock content %}
  
