{% extends 'partials/base.html' %}



{% block content %}
  <!-- shop section -->
  <section class="shop_section layout_padding">
    <div class="container" style="max-width: 85%;">
      <div class="heading_container heading_center">
        <h2>
            كل المكافأت لديك
        </h2>
      </div>
      <div class="row">

        <table class="table table-striped" dir='rtl' style="text-align: center;">
            <thead style="text-align: center;">
              <tr>
                <th scope="col">الترتيب</th>
                <th scope="col"> التفاصيل</th>
                <th scope="col">قيمة المكافأة</th>
                <th scope="col">تاريخ الاضافة</th>
              </tr>
            </thead>
            <tbody style="text-align: center;">
                {% for reward in my_rewards.all %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{reward.message}}</td>
                    <td>{{reward.price}} جنية</td>
                    <td style="width: 150px;">{{reward.date|date}} -- {{reward.date|time}}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan='12' style="font-size:large">لا يوجد لديك أى مكافأت</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
  </section>
  <!-- end shop section -->
{% endblock content %}
  
